body{
	margin: 0;
	padding: 0;
}

a{
    text-decoration: none!important;
    
}

.wrapper{
  border:1px solid #ffffff;
  height: auto;
  width: 100%;
  margin: 0 auto;
}
i.fa.fa-plus.fa-style{
	font-size: 20px;
	color: #000;
}
i.fa.fa-minus.fa-style{
	font-size: 20px;
	color: #000;
}
i.fa.fa-plus.fa-style:hover {
	color: brown;
}
i.fa.fa-minus.fa-style:hover {
	color: brown;
}
.wrapper_chitiet{
  height: auto;
  width: 90%;
  margin: 0 auto;
}

input.themgiohang{
	border: none;
	background: brown;
	color: #fff;
	padding: 12px;
	font-size: 15px;
	cursor: pointer ;
}
.hinhanh_sanpham {
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 69%;
    margin-left: 10px;
}

.pic_pro {
    float: left;
    width: 30%;
}
.detail_pro {
    float: left;
    width: 69%;
    margin-left: 10px;
}
/* Contact */

	/* Contact start */

    .header-title
    {
    
      text-align: center;
      color:#00bfff;
    }

    #tip 
    {
        display:none;  
    }

    .fadeIn
    {
      animation-duration: 3s;
    }

    .form-control
    {
        border-radius:0px;
        border:1px solid #EDEDED;
    }

    .form-control:focus
    {
        border:1px solid #00bfff;
    }

    .textarea-contact
    {
        resize:none; 
    }

    .btn-send
    {
        border-radius: 0px;
        border:1px solid #00bfff;
        background:#00bfff;
        color:#fff; 
    }

    .btn-send:hover
    {
        border:1px solid #00bfff;
        background:#fff;
        color:#00bfff;
        transition:background 0.5s;   
    }

    .second-portion
    {
        margin-top:50px; 
    }

    @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
    @import "http://fonts.googleapis.com/css?family=Roboto:400,500";

    .box > .icon { text-align: center; position: relative; }
    .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
    .box > .icon:hover > .image { background: #333; }
    .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
    .box > .icon:hover > .image > i { color: white !important; }
    .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
    .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
    .box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
    .box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
    .box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
    .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #FF5403; }
    .box .space { height: 30px; }

    @media only screen and (max-width: 768px)
    {
        .contact-form
        {
            margin-top:25px; 
        }

        .btn-send
        {
            width: 100%;
            padding:10px; 
        }

        .second-portion
        {
            margin-top:25px; 
        }
    }
/* Contact end */
.header{
	border:1px solid #ffffff;
  height: 80%;
  width: 100%;
  margin: 0 auto
}
.body .header{
	margin: 0 ;
	padding: 0;
	height: 100%;
	/* background-size: ; */
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}
.slider{
    height: 500px;
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main {
    border: 1px solid #ffffff;
    width: 100%;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li {
    width: 20px;
    margin: 0 5px;
    height: 450px;
    transition: 0.1s;
}
ul.product_list li img {
    width: 295px;
    height: 295px;
    display:table;
    margin: 10px 10px 10px 10px;
}
ul.product_list li:hover img{
	transform: translateY(-10px);
}
/* ul.product_list li:hover{
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
} */
p.title_product{
	color: black;
	font-size: 14px;
	font-weight: bold;
  position: absolute;
  text-align: center;
  margin-left: 25px;
  
}
p.price_product{
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-top: 45px; 
} 
	/* text-align: center;
	font-size: 14px;
  position: absolute; */

.footer {
    border: 1px solid #ffffff;
    height: auto;
    width: 100%;
    background: #f1f1f1;
}
/*--footer---*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

body {
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: rgb(189, 196, 203)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    color: #7a5e5e
}

ul>li:hover {
    color: #FF5403;
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 1% 5%
}
.card {
    position: relative;
    display:grid;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #957bda;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 2px solid
}
.box > .icon > .info > h3.title {
    font-family: "Robot",sans-serif !important;
    font-size: 16px;
    color: #FF5403;
    font-weight: 700;
}
.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    width: 88px;
    height: 88px;
    border: 8px solid white;
    line-height: 88px;
    border-radius: 50%;
    background: #FF5403;
    vertical-align: middle;
}
.page-product-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .page-product-body-left {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px;
  }
  
  .page-product-body-left-img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 350px;
    height: 300px;
    margin-bottom: 500px;
    margin-left: 500px;
  }
  /* .page-product-body-bottom ul{
    margin-left: 200px;
  } */
  
  .page-product-body form {
    width: 50%;
  }
  
  .page-product-body form .page-product-body-right-cate {
    text-transform: uppercase;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
  }
  
  .page-product-body form .page-product-body-right-star {
    color: #fdd835;
    margin-bottom: 10px;
  }
  
  .page-product-body form .page-product-body-right-price {
    font-size: 20px;
    color: #999;
  }
  
  .page-product-body form .page-product-body-right-price-sale {
    font-size: 20px;
    color: #cf2929;
    margin: 10px 0;
  }
  
  .page-product-body form .page-product-body-right-desc {
    width: 90%;
    color: #999;
  }
  
  .page-product-body form .page-product-body-right-desc::after {
    content: " ";
    display: block;
    width: 90%;
    height: 2px;
    margin: 30px auto;
    background-color: #eee;
  }
  
  .page-product-body form .page-product-body-right-cart {
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .page-product-body form .page-product-body-right-cart:hover {
    background-color: #ffab00;
  }
  
  .page-product-body form .page-product-body-right-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .page-product-body form .page-product-body-right-social > p {
    margin-bottom: 0;
    font-weight: 700;
  }
  
  .page-product-body form .page-product-body-right-social-list > i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .page-product-body form .page-product-body-right-social-list > i:hover {
    color: #ffab00;
  }
  
  .page-product-body form .page-product-body-right-support {
    width: 90%;
  }
  
  .page-product-body form .page-product-body-right-support::before {
    content: " ";
    display: block;
    width: 90%;
    height: 2px;
    margin: 30px auto;
    background-color: #eee;
  }
  
  .page-product-body form .page-product-body-right-support-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    color: #999;
  }
  
  .page-product-body form .page-product-body-right-support-item > i {
    font-size: 30px;
    margin-right: 15px;
  }
  
  .page-product-body form .page-product-body-right-support-item > p {
    margin-bottom: 0px;
  }
  /*----Slide Chi tiết sản phẩm------*/
  #slider {
    position: relative;
    width: 600px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin-top: 420px;
    /* padding-left: 10px; */
    margin-left: 10px;
    }
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 850px;
    padding: 0;
    margin: 0;
    /* transition: all 750ms ease; */
  }
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;

  }
  #slider ul li img{
    width: 200px;
    height: 200px;
  }
   
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%);
    transition: all 150ms ease; */
  }
  /* #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  } */